.hover-bg:hover {
    background-color: #f0f0f0;
    color: #000;
    text-decoration: none;
}

.bi {
    font-size: 1.2rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    overflow-y: auto;
    background-color: #fff;
    border-right: 1px solid #dee2e6;
    padding: 1rem;
}

.main-content {
    margin-left: 250px;
    padding: 1rem;
    flex-grow: 1;
}
