/* Sidebar */
.sidebar {
    width: 250px;
    min-height: 100vh;
    transition: width 0.3s;
    background: #fff;
}

    /* Sidebar colapsado */
    .sidebar.collapsed {
        width: 70px;
    }

        /* Ocultar texto del header cuando está colapsado */
        .sidebar.collapsed .sidebar-header h4 {
            display: none;
        }



    /* Links */
    .sidebar .nav-link {
        padding: 10px 15px;
        color: #333;
        font-weight: 500;
        transition: background 0.2s;
    }


    .sidebar .nav-link {
        padding: 10px 15px;
        color: #333;
        font-weight: 500;
        transition: background 0.2s;
    }

        .sidebar .nav-link:hover {
            background: #f1f3f5;
            border-radius: 8px;
        }



    /* Ocultar texto de los links, dejar solo íconos */
    .sidebar.collapsed .nav-link span {
        display: none;
    }


.sidebar-header {
    border-bottom: 1px solid #dee2e6;
}

/* Contenido principal */
.main-content {
    flex-grow: 1;
    transition: margin-left 0.3s;
}


.sidebar.collapsed ~ .flex-grow-1 .main-content {
    margin-left: 70px;
}

/* Footer */
.footer-custom {
    margin-top: auto;
    transition: margin-left 0.3s;
}


.sidebar.collapsed ~ .flex-grow-1 .footer-custom {
    margin-left: 70px;
}
