.page-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    flex-shrink: 0; 
    height: 100vh;
    overflow-y: auto;
    background: #fff;
    border-right: 1px solid #dee2e6;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

.main-content {
    margin-left: 250px; 
    flex-grow: 1;
    padding: 1.5rem;
}


.footer-custom {
    margin-left: 250px;
    padding: 1rem 0;
    background: white;
    border-top: 1px solid #dee2e6;
}
