/* Importar tipografía */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7f6;
    color: #2d3436;
    overflow-x: hidden;
}

    /* Fondo Dinámico y Profesional */
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* Imagen de arquitectura moderna desvanecida */
        background: linear-gradient(rgba(255, 255, 255, 0.50), rgba(244, 247, 246, 0.90)), url('https://images.unsplash.com/photo-1582407947304-fd86f028f716?q=80&w=2000&auto=format&fit=crop');
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

/* Sidebar Customizado (layout.css) */
#sidebar {
    background: rgba(255, 255, 255, 0.2) !important;W
    backdrop-filter: blur(15px); /* Efecto Glassmorphism */
    border-right: 1px solid rgba(0,0,0,0.05) !important;
}

/* Estilo para los Inputs de búsqueda para que no se vean cuadrados y feos */
.form-control, .form-select {
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding: 12px 15px;
    transition: all 0.3s;
}

    .form-control:focus {
        box-shadow: 0 0 0 0.25 margin rgba(13, 110, 253, 0.1);
        border-color: #0d6efd;
    }
